
system/caches/

system/index/

config/plugins/adb_idea/

config/plugins/BashSupport/

config/plugins/CodeGlance/

config/plugins/Material Theme/

config/plugins/repo/

config/plugins/android-butterknife-zelezny\.jar

config/plugins/availables\.xml

config/plugins/availables\.xml\.etag
